
.mainfooter{
	overflow: auto;
	padding: 0 15px;
}
.mainfooter .innerfooter{
	float: right;
}
.mainfooter .footer{
	float: right;
}
.mainfooter .innerfooter .inner_pagination{
	margin-bottom: 0;
}
.mainfooter .innerfooter .inner_pagination > li{
	padding: 0 10px;
	line-height: 38px;
}
.mainfooter .footer h5{
	float: left;
    margin: 0;
    margin-right: 10px;
    line-height: 38px;
}
.mainfooter .footer select{
	width: 60px;
    height: 38px;
}
.tableHeading{
	float: left;
}
.sort_header{
	float: left;
    width: 10px;
    position: relative;
    height: 20px;
    left: 8px;
    top: 2px;
}
.sort_header i{
	font-size: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    border: solid 5px;
    border-color: transparent transparent #e8e4e4 transparent;
}
.sort_header i:last-child{
	top: auto;
	bottom: -4px;
    border-color: #e8e4e4 transparent transparent transparent;
}
.sort_header i.active{
	border-color: transparent transparent gray transparent;
}
.sort_header i.active:last-child{
	border-color: gray transparent transparent transparent;
}